/*.brdr{
    border:1px solid red; 
}*/
::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px grey; 
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb {
    background:rgba(0,0,0,0.1); 
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background:rgba(0,0,0,0.3) 
  }
  ::-moz-scrollbar {
    width: 15px;
  }
  ::-moz-scrollbar-track {
    box-shadow: inset 0 0 2px grey; 
    border-radius: 10px;
  }
  ::-moz-scrollbar-thumb {
    background:rgba(0,0,0,0.1); 
    border-radius: 10px;
  }
  ::-moz-scrollbar-thumb:hover {
    background:rgba(0,0,0,0.3) 
  }
body{
    background-color: #00AACC;
}

footer {
  background-color: #000;
  color: #fff;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-size:1.25em;
  font-family:"Segoe UI",Roboto,Arial,sans-serif;
}
.nbt{
    background-color: rgba(0,0,0,1)
}
.ht{
    position: relative;
    left:39%;
    color:white!important;
    font-size: 1.25em;
    font-family:"Segoe UI",Roboto,Arial,sans-serif;
}
.hd{
    position:relative;
    text-align:center;
    justify-content: center;
    margin-top:2vw;
    font-size:25px;
    font-weight: bold;
}
.to{
    color:white!important;
}
.a{
    font-size: 5.2vw;
}
.cl{
    width:115px;
    height:40px;
}
.no1{
    margin-right:1vw;
}
.no2{
    margin-right:1vw;
}
.no3{
    margin-right:1vw;
}
.subh{
    font-size: 1.6vw;
    text-align:center;
    color:whitesmoke;
    background-color:#001122;
}
.quepg{
    margin-top:2vw;
    padding-left:3vw;
}
a.qno{
    background-color: #001122 !important;
    color:white !important;
    text-decoration: none;
}
a.qno:hover{
    border:2px solid white;
    translate:scale(1.08);
}
.formedia{
    height:18vw;
    width:17vw;
    margin-left:3vw;
    margin-top:2.5vw;
    background-color: #001122;
    box-shadow: 7px 7px 15px black;
}
.formedia:hover{
    cursor:pointer;
    transform: scale(1.05);
}
.si{
    height:30px;
    width:30px;
    border-radius: 50%;
    margin-left: 6vw;
}
.si:hover{
    cursor:pointer;
    transform:scale(1.15);
}
.ft{
    font-size:18px;
}

/* Media Query */

@media (max-width:767px){
    .formedia{
        margin-left:auto;
        margin-top: 5vw;
        height: 75vw;
        width: 60vw;
    }
    .subh{
        font-size: 4vw;
    }
}
@media(max-width:769px){
    .formedia{
        margin-left: 2vw;
        margin-top: 5vw;
        height: 45vw;
        width: 25vw;
    }
    .subh{
        font-size: 2.5vw;
    }
    #adjust{
        padding: 8% !important;
    }
   
}

@media(max-width:426px){
    .quepg{
        margin-top:6vw;
    }
    .to{
        font-size:4.2vw;
    }
    .logo{
        height: 32px;
        width:92px;
        margin-left:35vw;
    }
    .ht{
        position: relative;
        left:4%;
        font-size:4.5vw;
    }
    .formedia{
        margin-left: 13.5vw;
        margin-top: 5vw;
        height: 72vw;
        width: 65vw;
        margin-bottom:2vw;
    }
    .subh{
        font-size: 5vw;
    }
    .cl{
        height:35px;
        width:100px;
    }
    #adjust{
        padding: 8% !important;
    }
    .si{
        margin-left:24.3vw;
    }
    .ft{
        font-size:12px;
    }
}
@media(max-width:376px){
    .formedia{
        margin-left: 16.5vw;
        margin-top: 5vw;
        height: 74vw;
        width: 60vw;
        margin-bottom:2vw;
    }
    .ht{
        font-size:5.2vw;
    }
    .si{
        margin-left:20.5vw;
    }
}
@media(max-width:350px){
    .si{
        margin-left:20.5vw;
    }
}
@media(max-width:321px){
    .qno{
        font-size:small;
    }
    .formedia{
        margin-left: 13vw;
        margin-top: 5vw;
        height: 84vw;
        width: 65vw;
        margin-bottom:2vw;
    } 
    .ht{
        left:35%;
        font-size:5vw;
    }
    .subh{
        font-size: 5vw;
    }
    .cl{
        height:30px;
        width:56px;
        margin-left:-3vw;
    }
    .logo{
        position: relative;
        right:5vw;
    }
}
@media (min-width:1600px){
    .qno{
        font-size:larger;
    }
    .nbb1{
        font-size: 1.3vw;
    }
}
@media (min-width:1900px){
    .nbb{
        margin-top:3vw;
    }
}

  
  

