body {
    background-color: #029797;
    overflow:hidden;
}
/*.bg{
    position: absolute;
    margin-left:-1vw;
    margin-top:-4.5vw;
    z-index:-1;
    overflow: hidden;
}
  .st0 {
    position: relative;
    fill: none;
    stroke:#00AACC;/* #008C4A;
    stroke-miterlimit: 10;
    left:-1vw;
    top:-1vw;
  }
  .st1 {
    position: relative;
    left:-1vw;
    top:-1vw;
    fill: none;
    stroke:#002288;/* #d4af37;
    stroke-linecap: round;
    stroke-miterlimit: 10;
  }*/

.nbc{
    margin-right:1vw;
} 
.nb{
    background-color: rgba(0,0,0,0.7)!important;
    z-index:2;
    font-size:18px;
    color:white;
}
form{
    position: absolute;
    top:2.5vw;
}
.container-fluid{
    height:100vh;
    width: 100vw;
}
.title{
    font-size:22px !important;
    position: relative;
    left:39%;
    font-family:Roboto;
}
.logo{
    height:40px;
    width:115px;
}
.il{
    height:40px;
    width:115px;
}
.cre1{
    margin-top:-12vw;
    margin-left:5.5vw;
    height:100px;
    width:100px;
    border-radius:50%;
}
#login::after{
    filter:blur(10px);
    box-shadow:inset 0 0 0 200px rgba(255,255,255,0.05)
}
.input-area{
    position: absolute;
    left:33%;
	height:32vw;
	width:24vw;
    padding:3vw;
    padding-top:5vw;
    padding-left: 3vw;
    margin:5vw;
    margin-top:7vw;
    margin-left: 27vw;
    border:1.5px solid whitesmoke;
    border-radius: 15px;
    background-color: rgba(0,0,0,0.7);
    color:white;
    font-size: 18px;
    font-family:Roboto;
}
.input-field{
    background: transparent;
    border:none;
    margin-top:-0.5vw;
    margin-bottom:0.6vw;
    border-bottom: 1px solid whitesmoke;
    border-spacing: 0.5vw;
    width:18vw;
    font-size:17px;
    color:white;
    font-family: sans-serif;
    outline:none;
    font-family:Roboto;
}
.submit-btn{
    position: relative;
    left:5vw;
    margin-top:1vw;
    text-align: center;
    justify-content: center;
    align-items: center;
    width:8vw;
    height:auto;
    border-radius: 3px;
    font-size: 22px;
    background-color: #00AACC;
    color:white;
    border:none;
    outline:none;
    font-family:Roboto;
}
.submit-btn:hover{
    transform:scale(1.10);
    background-color: #00AACC;
}
.sign{
    text-align: center;
    margin-top: 2vw;
    font-size: 15px;
}
a.su:link{
    color:green !important;
    text-decoration: none;
    background:transparent;
}
a.abs{
    text-decoration: none;
    color:white;
    font-size:18px;
    font-family:Roboto;
}
a.ft{
    color:white;
    text-decoration:none;
    outline: none;
}
.nt{
    font-size:18px;
}
.cred{
    height:20vw;
    width:40vw;
    margin-right:-4vw;
    margin-bottom:1vw;
}
.whole{
    position: absolute;
    top:-48vw;
}
.stxt{
    position: relative;
    font-size:35px;
    left:15vw;
    bottom:4vw;
    font-weight:500;
    justify-content: center;
    color:white;
}
.en{
    position: relative;
    color:white;
    font-size:80px;
    font-weight:bold;
    left:6vw;
    top:-27vw;
    justify-content: center;
}

/* Media Query */

@media (max-width:425px){
    body{
        overflow: hidden !important;
    }
    .il{
        display:none;
    }
    .cred{
        height:38vw;
        width:76vw;
        margin-left:3vw;
        margin-top:1vw;
    }
    .whole{
        position: relative;
        top:-180vw;
    }
    .stxt{
        display:none;
    }
    .en{
        display:none;
    }
    .nb{
        background-color: #000 !important;
        opacity:1;
        font-size:18px;
    }
    .nt{
        font-size: 14px;
    }
    a.abs{
        font-size:14px;
    }
    .logo{
        height:35px;
        width:100px;
    }
    .bg{
        position: absolute;
        margin-left:-4vw;
        margin-top:-15vw;
        background-size: cover;
    }
    .title{
        font-size: 20px !important;
        left:1vw;
        margin-right:10vw;
    }
    .cre1{
        height:75px;
        width:75px;
        margin-top:-38vw;
        margin-left:15.5vw;
    }
    .input-area{
        height:100vw;
        width:65vw;
        font-size: 18px;
        margin-left:-14.5vw;
        margin-top:60vw;
        padding-left:8vw;
        padding-top:15vw;
    }
    .input-field{
        width:50vw;
        font-size:16px;
        background-color: transparent;
        border:none;
        border-bottom: 1px solid whitesmoke;
    }
    .submit-btn{
        width:30vw;
        margin-left:4vw;
        margin-top:4vw;
    }
    .ico{
        font-size:18px;
    }
    .sign{
        position: relative;
        margin-top:7vw;
        margin-right: 7vw;
        font-size: 14px;
    }
}
@media(max-width:400px){
    body{
        overflow: hidden;
    }
    .input-area{
        height:105vw;
        width:70vw;
        padding-left:12.5vw;
        padding-top:14vw;
        margin-left:-17vw;
        margin-top:30vw;
    }
    .submit-btn{
        margin-top:4.5vw;
    }
    .cre1{
        margin-left:11vw;
    }
}
@media(max-width:385px){
    body{
        overflow: hidden;
    }
    .input-area{
        height:110vw;
    }
    .sign{
        margin-top:10vw;
        margin-right:8vw;
        font-size: 14.5px;
    }
    .nt{
        font-size:11.7px;
        margin-left:2vw;
    }
    a.abs{
        font-size:11.7px;
    }
}
@media(max-width:375px){
    body{
        overflow: hidden;
    }
    .input-area{
        position: absolute;
        top:32vw;
        height:97vw;
        width:65vw;
        padding-top:5vw;
        margin-left:-15vw;
        padding-left:-10vw;
    }
    .input-field{
        margin-left:-4.2vw;
    }
    .cre1{
        height: 65px;
        width:65px;
        margin-left:11vw;
        margin-top:-20vw;
    }
    .submit-btn{
        margin-left:0.5vw;
        margin-top:5vw;
        font-size:18px;
    }
    .sign{
        margin-top:7vw;
        font-size: 12.5px;
    }
    .pad{
        padding:50%;
    }
    .en{
        display:none;
    }
    .cred{
        margin-left:-1vw;
        margin-top:2vw;
    }
}
@media(max-width:365px){
    body{
        overflow: hidden;
    }
    .input-area{
        position: absolute;
        top:35vw;
        height:97vw;
        width:68vw;
        font-size:18px;
        padding-top:6vw;
    }
    .en{
        display:none;
    }
    .stxt{
        display:none;
    }
    .nt{
        font-size:11px;
        margin-left:2vw;
    }
    a.abs{
        font-size:11px;
    }
    .cre1{
        height:62px;
        width:62px;
        margin-left:13vw;
        margin-top:-22vw;
    }
    .submit-btn{
        margin-left: 0.5vw;
    }
}
@media(max-width:325px){
    body{
        overflow: hidden;
    }
    a.title{
        font-size:10px;
    }
    .input-area{
        height: 95vw;
        width:65vw;
        font-size: 15px;
        padding-left:9.5vw;
        margin-top:30vw;
    }
    .cre1{
        height:55px;   
        width:55px;
        margin-left:13.2vw;
    }
    .submit-btn{
        font-size:15px;
        margin-left:2vw;
    }
    .sign{
        font-size: 12px;
    }
    .cred{
        margin-top:5vw;
    }
}
@media(max-width:335px){
    body{
        overflow: hidden;
    }
    .sign{
        margin-right:6.5vw;
    }
    .nt{
        font-size:10.5px;
        margin-left:2vw;
    }
    a.abs{
        font-size:10.5px;
    }
    .stxt{
        display:none;
    }
    .en{
        display:none;
    }
    .input-area{
        height:95vw;
    }

}
@media only handheld and (max-width:412px) and (max-height:824px){
    .input-area{
        margin-top:70vw;
    }
    .cred{
        margin-top:-15vw;
        height:40vw;
        width:80vw;
    }
} 