html, body {
    max-width: 100%;
    overflow-x: hidden;
}
 body{
 	  margin:0;
    padding:0;
    background: linear-gradient(to right bottom, #002244, rgb(88, 173, 243));
    
 	  font-family: sans-serif;
    
 }
 body::before{
   content:"";
   position: absolute;
   left:0;
   top:0;
   width:100vw;
   height:100vh;
   backdrop-filter:blur(100px);
 }
 .pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
  background-color:white !important; 
  border-color:white !important;      
  color:#001122 !important;              
  cursor:pointer;
  }

.navbar-brand{
    padding: 0;
 }
 #navbar{
background: rgba(0,0,0,0.7);
font-family: "Segoe UI",Roboto,Arial,sans-serif;
}
#credenzlogo{
  
  height: 40px;
  width: 115px;
  margin-left: 0vw;
  padding:0vw;

 }
 #cretronixlogo{
  
  height: 40px;
  width: 65px;
  margin-left: -0.8vw;
  padding:0vw;

 }
.clock {
    font-size:1.5vw; 
    color: #ffffff;
    position: relative;
    text-align: center;
    justify-content: center;
    overflow: hidden;
    border: 1px solid black;
    border-radius:3px;
    padding-top: 0.3vw;
    box-sizing: border-box;
    background-color: #1c1c1f;
    box-shadow: inset 0 0 5px 2px black;
    left:4%;
    
  }
.clock span {
    position: relative;
    display: inline-block;
    width: 1.8vw;
    font-family:Advent Pro;
    text-align:center;
    justify-content: center;
    overflow: hidden;
  }
.clock span:nth-child(2),
.clock span:nth-child(4) {
    border-right: 1px solid white;
  }
  
.clock span:before,
.clock span:after {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    backface-visibility: hidden;
    transition: transform .75s;
  }
  
.clock span:before {
    content: attr(data-old);
    z-index: 1;
    transform: translate3d(0,0,0);
  }
  
.clock .flip:before {
    transform: translate3d(0,102.5%,0);
  }
  
.clock span:after {
    content: attr(data-now);
    z-index: 2;
    transform: translate3d(0,-102.5%,0);
  }
  
.clock .flip:after {
    transform: translate3d(0,0,0);
  }

#ho{
	color : white;		
}

#ru{
	color : white ;
	margin-right: 1vw;
		
}

#abt{
	color : white ;

}
#lo{
  color : white ;
 
}
#questionbox{
  height: 12vh;
  overflow: auto;
  padding-top: 1vh;
  margin-top: 4.2vh;
  width: 2vw;
  margin-left: 3vw;
  border-radius: 10px;
  padding-left: 4vw;
  background-color:#001122;
  box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.7);
}
#imagerow{
  height: 58vh;
  
}
#image{
  height: 57.7vh;
  overflow: auto;
}
#questionimage{
  height: 50vh;
  width: 30.2vw;
  margin-top: 4vh;
  margin-left: 2vw;
}
#opt{
  height: 57.7vh;
  overflow: auto;
}
#op1{
  height: 8vh;
  overflow: auto;
  margin-top: 8vh;
  padding-top: 1.9vh;
  border-radius: 10px;
  cursor: pointer;
  background-color:#001122;
  padding-left: 15.5vw;
  box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.7);
}
#op1:focus{
  background-color: #00AACC;
  color:#001122;
}
#op2{
  height: 8vh;
  overflow: auto;
  margin-top: 2.5vh;
  padding-top: 1.9vh;
  border-radius: 10px;
  cursor: pointer; 
  background-color:#001122;
  padding-left: 15.5vw;
  box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.7);
}
#op2:focus{
  background-color: #00AACC;
  color:#001122;
}
#op3{
  height: 8vh;
  overflow: auto;
  margin-top: 2.5vh;
  padding-top: 1.9vh;
  border-radius: 10px;
  cursor: pointer;
  background-color:#001122;
  padding-left: 15.5vw;
  box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.7);
}
#op3:focus{
  background-color: #00AACC;
  color:#001122;
}
#op4{
  height: 8vh;
  overflow: auto;
  margin-top: 2.5vh;
  padding-top: 1.9vh;
  border-radius: 10px;
  cursor: pointer;
  background-color:#001122;
  padding-left: 15.5vw;
  box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.7);
}
#op4:focus{
  background-color: #00AACC;
  color:#001122;
}
#btn{
  margin-top: 3.5vh;
  height: 6vh;
  border-radius: 3px;
  
  outline: none;
  width: 8vw;
  background: linear-gradient(-180deg,#00AACC,#001122);
  color:white;
  text-align: center;
  justify-content: center;
  font-size: 22px;
  border: 1px solid black;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.8);
}
#questionoption{
  overflow: auto;
  height: 78vh;
  padding-top:1vw;
}
#q1{
  height: 5.5vh;
  overflow: auto;
  color: white;
  text-align: center;
  justify-content: center;
  border-radius: 5px;
  cursor: pointer;
  
  padding-top: 1vh;
  
  margin-bottom: 0.6vh;

}
.box :hover{
  color: #00AACC;

}

a.questionnumber{
  color: white;
  text-decoration: none;
}



footer{
background-color:  rgba(0,0,0,0.7)!important;
color: white;
font-size: 18px;

}
a.abs{
    text-decoration: none;
    color:white;
    font-size:18px;
    
}

img{
  width: 115px;
    height: 40px; 
    margin-left: 14vw;
 }

.ft{
	padding-bottom: 2vh;
	padding-top: 2vh;
}

@media (max-width: 387px){
  #ft1{
  display: inline-block;
  position: relative;    
  margin-left:1vw;
}
#ft2{
  display: inline-block;
  position: relative;    
  margin-left: 1vw; 
}
}

@media (max-width: 426px) {
  #questionoption{
 
  display: none;
}
#credenzlogo{
	display: none;
}
#cretronixlogo{
  
  height: 35px;
  width: 65px;
  margin-left: -2vw;
  padding:0vw;

 }
#q1{
  margin-left: 18vw;

}
footer{
  margin-top: 60vh;
  
  background-color:  rgba(0,0,0,1)!important;
}
.ft{
	
	margin-top: 1vh;
	font-size: 12px;
	padding-bottom: 0vw;
	
}
a.abs{
    text-decoration: none;
    color:white;
    font-size:12px;
    padding-top: 0vw;
    
    
}

#ft1{
  display: none;
  position: relative;    
  margin-left: 0vw;
  font-size: 1rem;

}

#ft2{
  display: none;
  position: relative;    
  margin-left: 1vw;
  font-size: 1rem;
}
#btn{
  margin-left: 22%;
  margin-top: 2.9vh;
  width: 25vw;
  font-size: 18px;
}
#op1{
  height: 9.5vh;
  overflow: auto;
  margin-top: 2vh;
  padding-top: 2.1vh;
  border-radius: 10px;
  padding-left: 19.7vw;
}
#op2{
  height: 9.5vh;
  overflow: auto;
  margin-top: 2.5vh;
  padding-top: 2.1vh;
  border-radius: 10px;
  padding-left: 19.7vw;
  
}
#op3{
  height: 9.5vh;
  overflow: auto;
  margin-top: 2.5vh;
  padding-top: 2.1vh;
  border-radius: 10px;
  padding-left: 19.7vw;
}
#op4{
  height: 9.5vh;
  overflow: auto;
  margin-top: 2.5vh;
  padding-top: 2.1vh;
  border-radius: 10px;
  padding-left: 19.7vw;
}
#questionbox{
  height: 27vh;
  overflow: auto;
  padding-top: 1vh;
  margin-top: 3.9vh;
  margin-left:8.5vw;
  border-radius: 10px;
  padding-left: 4vw;
}
.clock {
    font-size:4vw; 
    padding:0.2vw;
    
    margin-left: -6.2vw;
    padding-top: 0.6vw;
  }
  
.clock span {
    width: 4vw;
  }
  #questionimage{
  height: 43vh;
  width: 83vw;
  margin-top: 8vh;
  margin-left: 5.3vw;
}
#pag{  
   margin-left: 8.5vw;
   margin-top: 3vh;
   font-size: 16.9px;
 }
 .qno{
  background-color: #001122;
  color:white;
 }

.log{
	margin-left: 1.5vw;
}
}
@media (max-width:420px){
  
  #ft1{
    font-size: 0.95rem;
  }
  #ft2{
    font-size: 0.95rem;
  }
  img{
  width: 90px;
  height: 35px; 
  margin-left: 1vw;
  display: inline-block;
 }
 #questionbox{
  height: 27vh;
  overflow: auto;
  padding-top: 1vh;
  margin-top: 1.5vh;
  margin-left:8.9vw;
  border-radius: 10px;
  padding-left: 4vw;
}
  
}

@media (max-width: 412px){
 #pag{
    font-size:15px;
  }
  #ft1{
    font-size: 15.5px;
  }
  #ft2{
    font-size: 15.5px;
  }
   #op1{
   	padding-top: 2.5vh;
   	font-size: 1.2rem;
   	padding-left: 19vw;
  }
   #op2{
   	padding-top: 2.5vh;
   	font-size: 1.2rem;
   	padding-left: 19vw;
  }
   #op3{
   	padding-top: 2.5vh;
   	font-size: 1.2rem;
   	padding-left: 19vw;
  }
   #op4{
   	padding-top: 2.5vh;
   	font-size: 1.2rem;
   	padding-left: 19vw;
  }

  .log{
    position: relative;
    left:34%;
    height:40px;
    width:110px;
    
  }
  	 #questionimage{
  height: 37vh;
  width: 81.5vw;
  margin-top: 9.8vh;
  margin-left: 4.8vw;
}
#questionbox{
  height: 24vh;
  overflow: auto;
  padding-top: 1vh;
  margin-top: 4.9vh;
  margin-left:8.5vw;
  border-radius: 10px;
  padding-left: 4vw;
}
.pagination{
	font-size: 0.96rem;
	margin-left: 0.5vw;
}
.log{
	margin-left: 5vw;
}


}
@media (max-width: 407px){
 #pag{
    font-size:14px;
  }
  #ft1{
    font-size: 15.3px;
  }
  #ft2{
    font-size: 15.3px;
  }
  .log{
    position: relative;
    left:32%;
    height:40px;
    width:110px;
  }

}
@media (max-width: 399px){
 #pag{
    font-size:14px;
  }
  #ft1{
    font-size:0.94rem ;
  }
  #ft2{
    font-size:0.94rem ;
  }
  .log{
    position: relative;
    left:32%;
    height:40px;
    width:110px;
  }

}
@media (max-width: 393px){
 #pag{
    font-size:14px;
  }
  #ft1{
    font-size:0.9rem ;
  }
  #ft2{
    font-size:0.9rem ;
  }
  .log{
    position: relative;
    left:32%;
    height:40px;
    width:110px;
  }

}
@media (max-width: 385px){
	 #questionimage{
  height: 42vh;
  width: 81.5vw;
  margin-top: 8.3vh;
  margin-left: 4.8vw;
}
#op1{
   	padding-top: 2.4vh;
   	font-size: 1.2rem;
   	padding-left: 16.5vw;
  }
   #op2{
   	padding-top: 2.4vh;
   	font-size: 1.2rem;
   	padding-left: 16.5vw;
  }
   #op3{
   	padding-top: 2.4vh;
   	font-size: 1.2rem;
   	padding-left: 16.5vw;
  }
   #op4{
   	padding-top: 2.4vh;
   	font-size: 1.2rem;
   	padding-left: 16.5vw;
  }
#questionbox{
  height: 27vh;
  overflow: auto;
  padding-top: 1vh;
  margin-top: 4.1vh;
  margin-left:8.5vw;
  border-radius: 10px;
  padding-left: 4vw;
}
.pagination{
	font-size: 0.79rem;
	margin-left: 1.1vw;
}
.log{
	margin-left: 5vw;
}


}
@media (max-width: 376px){
  #pag{
    font-size: 13px;
  }
   #op1{
   	padding-top: 2.1vh;
   	font-size: 1.2rem;
   	padding-left: 15vw;

  }
   #op2{
   	padding-top: 2.1vh;
   	font-size: 1.2rem;
   	padding-left: 15vw;
  }
   #op3{
   	padding-top: 2.1vh;
   	font-size: 1.2rem;
   	padding-left: 15vw;
  }
   #op4{
   	padding-top: 2.1vh;
   	font-size: 1.2rem;
   	padding-left: 15vw;
  }
  .ft{
	
	margin-top: 1vh;
	font-size: 11.5px;
	padding-bottom: 0vw;
	
}
a.abs{
    text-decoration: none;
    color:white;
    font-size:11.5px;
    padding-right: 0vw;
    
    
}
  #ft1{
    font-size: 0.85rem;
  }
  #ft2{
    font-size: 0.85rem;
  }
  .log{
    position: relative;
    left:32%;
    height:40px;
    width:110px;
  }
   #questionimage{
  height: 43vh;
  width: 82vw;
  margin-top: 8vh;
  margin-left: 5.3vw;
}
#questionbox{
  height: 27vh;
  overflow: auto;
  padding-top: 1vh;
  margin-top: 3.9vh;
  margin-left:8.5vw;
  border-radius: 10px;
  padding-left: 4vw;
}
.pagination{
	font-size: 0.76rem;
	margin-left: 0.6vw;
}
}
@media (max-width:367px){
  #pag{
    font-size:13px ;
    margin-left:5.8vw;
  }

  #ft1{
    font-size: 13.5px;
  }
  #ft2{
    font-size: 13.5px;
  }
  .log{
    position: relative;
    left:32%;
    height:40px;
    width:110px;
  }
  
}
@media (max-width:362px){
  #pag{
    font-size:13px ;
    margin-left:5.8vw;
  }
  #ft1{
    font-size: 13.1px;
  }
   #op1{
   	padding-top: 2.4vh;
   	font-size: 1.2rem;
  }
   #op2{
   	padding-top: 2.4vh;
   	font-size: 1.2rem;
  }
   #op3{
   	padding-top: 2.4vh;
   	font-size: 1.2rem;
  }
   #op4{
   	padding-top: 2.4vh;
   	font-size: 1.2rem;
  }
  #ft2{
    font-size: 13.1px;
  }
  .ft{
	
	margin-top: 1vh;
	font-size: 11.3px;
	padding-bottom: 0vw;
	
}
a.abs{
    text-decoration: none;
    color:white;
    font-size:11.3px;
    padding-right: 0vw;
    
    
}
  .log{
    position: relative;
    left:32%;
    height:40px;
    width:110px;
  }
   #questionimage{
  height: 42vh;
  width: 81.5vw;
  margin-top: 8.3vh;
  margin-left: 4.8vw;
}
#questionbox{
  height: 27vh;
  overflow: auto;
  padding-top: 1vh;
  margin-top: 4.1vh;
  margin-left:8.5vw;
  border-radius: 10px;
  padding-left: 4vw;
}
.pagination{
	font-size: 0.66rem;
	margin-left: 3.4vw;
}
.log{
	margin-left: 5vw;
}

  
}
@media (max-width:354px){
  #pag{
    font-size:13px ;
    margin-left:5.4vw;
  }
  .ft{
	
	margin-top: 1vh;
	font-size: 11.1px;
	padding-bottom: 0vw;
	
}
a.abs{
    text-decoration: none;
    color:white;
    font-size:11.1px;
    padding-right: 0vw;
    
    
}
  #ft1{
    font-size: 13px;
  }
  #ft2{
    font-size: 13px;
  }
  .log{
    position: relative;
    left:32%;
    height:40px;
    width:110px;
  }
  
}
@media (max-width:349px){
  #pag{
    font-size:13px ;
    margin-left:4.9vw;
  }
  .ft{
	
	margin-top: 1vh;
	font-size: 10.5px;
	padding-bottom: 0vw;
	
}
a.abs{
    text-decoration: none;
    color:white;
    font-size:10.5px;
    padding-right: 0vw;
    
    
}
  #ft1{
    font-size: 12.8px;
  }
  #ft2{
    font-size: 12.8px;
  }
  .log{
    position: relative;
    left:32%;
    height:40px;
    width:110px;
  }
  
}
@media (max-width:343px){
  #pag{
    font-size:13px ;
    margin-left:3.9vw;
  }
  #ft1{
    font-size: 12.6px;
  }
  #ft2{
    font-size: 12.6px;
  }
  .log{
    position: relative;
    left:32%;
    height:40px;
    width:110px;
  }
  
}
@media (max-width:339px){
  #pag{
    font-size:13px ;
    margin-left:3.2vw;
  }
  #ft1{
    font-size: 12.3px;
  }
  #ft2{
    font-size: 12.3px;
  }
  .log{
    position: relative;
    left:32%;
    height:40px;
    width:110px;
  }
  
}
@media (max-width:331px){
  #pag{
    font-size:13px ;
    margin-left:2.5vw;
  }
  #ft1{
    font-size: 12.2px;
  }
  #ft2{
    font-size: 12.2px;
  }
  .log{
    position: relative;
    left:32%;
    height:40px;
    width:110px;
  }
  
}
@media (max-width:327px){
  #pag{
    font-size:12px ;
    margin-left:2.5vw;
  }
  #ft1{
    font-size: 12px;
  }
  #ft2{
    font-size: 12px;
  }
  .log{
    position: relative;
    left:32%;
    height:40px;
    width:110px;
  }
  
}
@media (max-width:324px){
  #pag{
    font-size:12px ;
    margin-left:3.2vw;
  }
   #op1{
   	padding-top: 1.9vh;
   	font-size: 1.2rem;
   	padding-left: 12vw;
  }
   #op2{
   	padding-top: 1.9vh;
   	font-size: 1.2rem;
   	padding-left: 12vw;
  }
   #op3{
   	padding-top: 1.9vh;
   	font-size: 1.2rem;
   	padding-left: 12vw;
  }
   #op4{
   	padding-top: 1.9vh;
   	font-size: 1.2rem;
   	padding-left: 12vw;
  }
  .ft{
	
	margin-top: 1vh;
	font-size: 9.5px;
	padding-bottom: 0vw;
	
}
a.abs{
    text-decoration: none;
    color:white;
    font-size:9.5px;
    padding-right: 0vw;
    
    
}
  #ft1{
    font-size: 11.8px;
  }
  #ft2{
    font-size: 11.8px;
  }
  .log{
    position: relative;
    left:34%;
    height:45px;
    width:120px;
  }
  
}
@media (max-width:314px){
  #pag{
    font-size:12px ;
    margin-left:2.5vw;
  }
  #ft1{
    font-size: 1rem;
  }
  #ft2{
    font-size: 1rem;
  }
  .log{
    position: relative;
    left:32%;
    height:40px;
    width:110px;
  }
  
}
@media (max-width:311px){
  #pag{
    font-size:12px ;
    margin-left:2.5vw;
  }
  #ft1{
    font-size: 0.8rem;
    margin-left: 0vw;
  }
  #ft2{
    font-size: 0.8rem;
    margin-left: 0vw;
  }
  .log{
    position: relative;
    left:32%;
    height:40px;
    width:110px;
  }
  
}
@media (max-width:308px){
  #pag{
    font-size:12px ;
    margin-left:2.5vw;
  }
  #ft1{
    font-size: 0.6rem;
    margin-left: 0vw;
  }
  #ft2{
    font-size: 0.6rem;
    margin-left: 0.4vw;
  }
  .log{
    position: relative;
    left:32%;
    height:40px;
    width:110px;
  }
  footer{
    font-size: 0.5rem;
  }
  
}
@media (max-width:304px){
  #pag{
    font-size:12px ;
    margin-left:2.5vw;
  }
  #ft1{
    font-size: 0.6rem;
    margin-left: 0vw;
  }
  #ft2{
    font-size: 0.6rem;
    margin-left: 0.5vw;
  }
  .log{
    height:30px;
    width:40px;
    margin-left: 0.4vw;
  }
  footer{
    font-size: 0.45rem;
  }
  
}
@media (max-width:303px){
  #pag{
    font-size:12px ;
    margin-left:2.5vw;
  }
  #ft1{
    font-size: 0.6rem;
    margin-left: 0vw;
  }
  #ft2{
    font-size: 0.6rem;
    margin-left: 0vw;
  }
  .log{
    height:35px;
    width:40px;
    margin-left: 0vw;
  }
  footer{
    font-size: 0.45rem;
  }
  
}
@media (max-width:301px){
  #pag{
    font-size:12px ;
    margin-left:2.5vw;
  }
  #ft1{
    font-size: 0.5rem;
    margin-left: 0vw;
  }
  #ft2{
    font-size: 0.5rem;
    margin-left: 0vw;
  }
  .log{
    height:35px;
    width:35px;
    margin-left: 0vw;
  }
  footer{
    font-size: 0.2rem;
  }
  
}

 

@media (max-width: 321px){
 #pag{
    font-size:10px;
  }
  #ft1{
    font-size: 11.5px;
  }
  #ft2{
    font-size: 11.5px;
  }
  .log{
    height:28px;
    width:65px;
  }
    #questionimage{
  height: 43vh;
  width: 81.5vw;
  margin-top: 8vh;
  margin-left: 4.8vw;
}
#questionbox{
  height: 27vh;
  overflow: auto;
  padding-top: 1vh;
  margin-top: 3.9vh;
  margin-left:8.5vw;
  border-radius: 10px;
  padding-left: 4vw;
}
.pagination{
	font-size: 0.46rem;
	margin-left: 4.8vw;
}
.log{
	margin-left: 5vw;
}

}

@media (min-width: 769px){
.container.h90 {  
   height: 88vh;
       }

}
@media (max-width: 768px){
.fixed-bottom { 
position: relative; 
   
       }

}
@media (min-width: 427px){
#pag{  
   display: none;
       }
}
@media (min-width:768px)
{
  .clock {
    font-size: 2vw;
    padding:0.2vw;
    
    margin-left: 30.5vw;
    padding-top: 0.6vw;
  }
  #ft1{
    margin-left: 8.5vw;
  }
  body{
    font-size: 15px;
  }
  #questionbox{
    margin-top: 3.8vh;
  }
  footer{
    font-size: 0.8rem;
    margin-top: 2.6vh;
  }
  #credenzlogo{
    width: 90px;
    height: 40px;
  }
  img{
    height: 35px;
    width: 100px;
  }
  #questionoption{
    height: 74vh;
    margin-top: 0vh;
  }
  #btn{
  width: 14vw;
  font-size: 19px;
}


}
@media (min-width:1000px){
  #questionoption{
    height: 70vh;
  }
  .clock {
    font-size: 1.5vw;
    padding:0.2vw;
    
    margin-left: 30.5vw;
    padding-top: 0.4vw;
  }
  
.clock span {
    width: 2vw;
  }
  footer{
    font-size: 1rem;
  }
  #credenzlogo{
    width: 115px;
  }
   #btn{
  width: 7vw;
}
#ft1{
    margin-left: 15.2vw;
  }

}
@media (min-width:1024px){
  #questionimage{
    width: 30vw;
  }
  #questionbox{
    margin-top: 5.3vh;
  }
  #questionoption{
    height: 74vh;
  }
   #ft1{
    margin-left: 15.9vw;
  }
  #btn{
    width: 12vw;
    font-size: 20px;
  }

}
@media (min-width:1100px){
  #questionimage{
    width: 30vw;
  }
  #questionbox{
    margin-top: 4.5vh;
  }
  #questionoption{
    height: 76vh;
  }
  #ft1{
    margin-left: 16.5vw;
  }
  .clock {
    font-size: 1.5vw;
    padding:0.2vw;
    
    margin-left: 31.4vw;
    padding-top: 0.4vw;
  }

}
@media (min-width:1200px)
{
  .clock {
    font-size: 1.4vw;
    padding:0.1vw;
    padding-top: 0.3vw;
    
    margin-left: 34.5vw;
    
  }
  #ft1{
    margin-left: 19.3vw;
  }
  #credenzlogo{
    width: 115px;
    height: 40px;
  }

  footer{
    font-size: 1rem;
  }
  #btn{
  width: 10vw;
}



}
@media (min-width:1300px)
{
  .clock {
    font-size: 1.5vw;
    padding:0.2vw;
    
    margin-left: 33.5vw;
    padding-top: 0.4vw;
  }
  #ft1{
    margin-left: 19.2vw;
  }
  body{
    font-size: 19px;
  }
  #questionbox{
    margin-top: 5.2vh;
  }
  footer{
    font-size: 1.2rem;
  }
  



}
@media (min-width:1400px)
{
  .clock {
    font-size: 1.5vw;
    padding:0.2vw;
    
    margin-left: 34vw;
    padding-top: 0.5vw;
  }
  #ft1{
    margin-left: 17.4vw;
  }
  body{
    font-size: 20.2px;
  }
  #questionbox{
    margin-top: 5.7vh;
  }
  footer{
    font-size: 1.3rem;
  }
  #credenzlogo{
    margin-top: 0.3vh;
  }
  #cretronixlogo{
  
  height: 40px;
  width: 75px;
  margin-left: -0.8vw;
  padding:0vw;

 }


}
@media (min-width:1440px)
{
  .clock {
    font-size: 1.5vw;
    padding:0.2vw;
    
    margin-left: 34vw;
    padding-top: 0.5vw;
  }
  #ft1{
    margin-left: 18vw;
  }
  body{
    font-size: 20.2px;
  }
  #questionbox{
    margin-top: 5.8vh;
  }
  #questionoption{
    margin-top: 2.2vh;
  }
  footer{
    font-size: 1.4rem;
  }
  #credenzlogo{
    width: 115px;
    height: 40px;
  }
  #btn{
    font-size: 22px;
  }


}
@media (min-width:1500px)
{
  .clock {
    font-size: 1.5vw;
    padding:0.2vw;
    
    margin-left: 34vw;
    padding-top: 0.3vw;
  }
  #ft1{
    margin-left: 17.6vw;
  }
  body{
    font-size: 20.3px;
  }
  #questionbox{
    margin-top: 5.8vh;
  }
  footer{
    font-size: 1.4rem;
  }
  #credenzlogo{
    width: 115px;
    height: 40px;
  }
  


}
@media (min-width:1600px)
{
  .clock {
    font-size: 1.5vw;
    padding:0.2vw;
    
    margin-left: 34.3vw;
  
  }
  #ft1{
    margin-left: 18.5vw;
  }
  body{
    font-size: 21.7px;
  }
  #questionbox{
    margin-top: 6vh;
  }
  footer{
    font-size: 1.4rem;
  }
  #credenzlogo{
    width: 115px;
    height: 40px;
  }
  img{
    height: 52px;
    width: 125px;
  }


}
@media (min-width:1700px)
{
  .clock {
    font-size: 1.5vw;
    padding:0.2vw;
    
    margin-left: 34.5vw;
    
  }
  #ft1{
    margin-left: 19.5vw;
  }
  body{
    font-size: 23px;
  }
  #questionbox{
    margin-top: 6.8vh;
  }
  footer{
    font-size: 1.4rem;
  }
  #credenzlogo{
    width: 115px;
    height: 40px;
    margin-top: 0.4vh;
  }
  #cretronixlogo{
  
  height: 40px;
  width: 80px;
  margin-left: -0.8vw;
  padding:0vw;

 }


}
@media (min-width:1800px)
{
  .clock {
    font-size: 1.5vw;
    padding:0.2vw;
    
    margin-left: 34.8vw;
    
  }
  #ft1{
    margin-left: 17.5vw;
  }
  body{
    font-size: 25px;
  }
  #questionbox{
    margin-top: 7vh;
  }
  footer{
    font-size: 1.7rem;
  }
  #credenzlogo{
    width: 115px;
    height: 40px;
    margin-top: 0.55vh;
  }
  img{
    height: 65px;
    width: 140px;
  }


}
@media (min-width:1900px)
{
  .clock {
    font-size: 1.5vw;
    padding:0.2vw;
    
    margin-left: 34.8vw;
    
  }
  #ft1{
    margin-left: 18.4vw;
  }
  body{
    font-size: 27px;
  }
  #questionbox{
    margin-top: 7.7vh;
  }
  footer{
    font-size: 1.7rem;
  }
  #credenzlogo{
  width: 115px;
    height: 40px;
  }
  img{
    height: 60px;
    width: 140px;
  }
  #questionoption{
    margin-top: 2.2vh;
  }


}
@media (min-width:1920px)
{
  .clock {
    font-size: 1.5vw;
    padding:0.2vw;
    
    margin-left: 35vw;
    
  }
  #ft1{
    margin-left: 18.6vw;
  }
  body{
    font-size: 28px;
  }
  #questionbox{
    margin-top: 7.9vh;
  }
  footer{
    font-size: 1.9rem;
  }
  #credenzlogo{
    width: 115px;
    height: 45px;
     margin-top: 0.7vh;
  }
  #cretronixlogo{
  
  height: 45px;
  width: 85px;
  margin-left: -0.8vw;
  padding:0vw;

 }

  #questionoption{
    margin-top: 2.8vh;
  }
  #btn{
    font-size: 29px;
  }


}
@media (min-width:2000px)
{
  .clock {
    font-size: 1.5vw;
    padding:0.2vw;
    
    margin-left: 35vw;
    
  }
  #ft1{
    margin-left: 18.5vw;
  }
  body{
    font-size: 29px;
  }
  #questionbox{
    margin-top: 7.9vh;
  }
  footer{
    font-size: 1.8rem;
  }
  #credenzlogo{
    width: 115px;
    height: 40px;
  }
  img{
    height: 65px;
    width: 150px;
  }
  #questionoption{
    margin-top: 2.8vh;
  }


}



