html, body {
    max-width: 100%;
    overflow-x: hidden;
}
 body{
      margin:0;
    padding:0;
    background: linear-gradient(to right bottom, #002244, rgb(88, 173, 243));
    
      font-family: sans-serif;
    
 }
.box {
    
    margin-left: 12.3vw;
    padding: 0;
    margin-top: 3vh;
    background:#002244;
    height: 72vh;
    border: 0px;
    font-family: sans-serif;
    background-color:  rgba(0,0,0,0.8);
    box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.8);
    width: 70vw;
    border-radius: 15px;
}
#navbar{
background: rgba(0,0,0,0.7);

}
#pisblogo{
    margin-left: 37.2vw;
    height: 40px;
    width: 115px;
}
#cretronixlogo{
     height: 40px;
    width: 65px;
    margin-left: -0.8vw;


}

.bar a{
    font: 22px ROBOTO;
    margin-left: 29.8vw;
    
}

.box .card-body{
    overflow: auto;   
}



.mt-6 {
    margin-top: 3.2vw;
}

body {
 background: linear-gradient(to right bottom, #002244, rgb(88, 173, 243));
}
body::before{
   content:"";
   position: absolute;
   left:0;
   top:0;
   width:100vw;
   height:100vh;
   backdrop-filter:blur(100px);
 }

footer{
background-color:  rgba(0,0,0,0.7);
font-family: "Segoe UI",Roboto,Arial,sans-serif;
font-size: 18px;

}


.bar {
    font: 18px sans-serif;

}


#btn {
    font-family: sans-serif;
    font-size: 22px;
    border: 1px solid grey;
    background: linear-gradient(-180deg,#00AACC,#001122);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.8);
    margin-top: 2.3vh;
    border-radius: 3px;
    color: white;
    outline-style: none;
    width: 12vw;
}

.ftt{
    color:white;
    font-size:18px;
}
a.abt{
    color:white;
    text-decoration: none;
}
@media (max-width: 426px){
    
    .bar a{
    font: 20px ROBOTO;
    margin-left: 8.4vw;
    
}
#pisblogo{
    margin-left: 15.3vw;
    height: 30px;
    width: 90px;
}
#cretronixlogo{
     height: 35px;
    width: 55px;
    margin-left: -0.8vw;


}

}
@media (max-width: 768px) {
    .bar {
        font: 25px sans-serif;
        margin-left: 0;
    }

    .box {
        margin-left: 4vw;
        padding: 0px;
        width: 90%;
    }
    .btn {
        border: 0px;
        width: 90%;
        margin-left: 4vw;
        padding: 0px;
        position: absolute;
        z-index: 1000;
        font-family: sans-serif;
        font-size: 22px;
        border: 1px solid white;
        border-radius: 3px;
        background: #002244;
        box-shadow: 0px 15px 30px 4px rgba(0, 0, 0, 0.8);
    }

    footer {
        margin-top: 23vw;
    }

   
}





@media (max-width: 321px){
.box {
    
    padding: 0;
    margin-top: 3vh;
    background:#002244;
    height: 69vh;
    border: 0px;
    font-family: sans-serif;
    background-color:  rgba(0,0,0,0.8);
    box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.8);
    width: 80vw;
    border-radius: 15px;
}
 .bar a{
    font: 15px ROBOTO;
    margin-left: 0.3vw;
    
}

.box .card-body{
    font-size: 16px;
}
h3{
    font-size: 20px;
}


 #pisblogo{
    
    height: 30px;
    width: 80px;
    
}
#cretronixlogo{
     height: 35px;
    width: 55px;
    margin-left: -0.8vw;


}
 #btn {
    font-family: sans-serif;
    font-size: 13px;
    border: 1px solid black;
    background: linear-gradient(-180deg,#00AACC,#001122);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.8);
    margin-top: 2.6vh;
    border-radius: 3px;
    color: white;
    outline-style: none;
    width: 32vw;
    height: 6.1vh;
}

}
@media (max-width: 376px){
.box {
    
    padding: 0;
    margin-top: 3vh;
    background:#002244;
    height: 69vh;
    border: 0px;
    font-family: sans-serif;
    background-color:  rgba(0,0,0,0.8);
    box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.8);
    width: 70vw;
    border-radius: 15px;
}
.bar a{
    font: 20px ROBOTO;
    margin-left:5.6vw;
    
}
.box .card-body{
    font-size: 14px;
}
h3{
    font-size: 20px;
}

 #pisblogo{
    margin-left: 13.5vw;
    height: 30px;
    width: 80px;
}
#cretronixlogo{
     height: 35px;
    width: 55px;
    margin-left: -0.8vw;


}
 #btn {
    font-family: sans-serif;
    font-size: 19px;
    border: 1px solid black;
    background: linear-gradient(-180deg,#00AACC,#001122);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.8);
    margin-top: 2.6vh;
    border-radius: 3px;
    color: white;
    outline-style: none;
    width: 24vw;
    height: 6.1vh;
}
.card-footer{
    font-size: 12px;
 }
}
@media (max-width: 426px){
.box {
    margin-left: 6.4vw;
    padding: 0;
    margin-top: 3.5vh;
    background:#002244;
    height: 72.2vh;
    border: 0px;
    font-family: sans-serif;
    background-color:  rgba(0,0,0,0.8);
    box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.8);
    width: 80vw;
    border-radius: 15px;
}
.bar {
    font: 1rem sans-serif;
    margin-left: 14.9vw;
}
.box .card-body{
    font-size: 18px;
}
h3{
    font-size: 20px;
}

 #btn {
    font-family: sans-serif;
    font-size: 15px;
    border: 1px solid black ;
    background: linear-gradient(-180deg,#00AACC,#001122);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.8);
    margin-top: 2.5vh;
    border-radius: 3px;
    color: white;
    outline-style: none;
    width: 25vw;
    height: 6vh;
    padding-top: 0px;
    
}
footer{
    margin-top: 3vh;
}
.ftt{
    font-size:12px;
}
}
@media (max-width: 768px){
.fixed-bottom { 
position: relative; 
   
       }

}
@media (min-width: 768px){
.box {
    margin-left: 8vw;
    padding: 0;
    margin-top: 3vh;
    background:#002244;
    height: 69vh;
    border: 0px;
    font-family: sans-serif;
    background-color:  rgba(0,0,0,0.8);
    box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.8);
    width: 80vw;
    border-radius: 15px;
}
#btn{
    border: 1px solid black;
    width: 18vw;

}
.bar a{
    font: 22px ROBOTO;
    margin-left: 34.2vw;
    
}
.box .card-body{
    font-size: 14px;
}
#pisblogo{
    margin-left: 26vw;
}
h3{
    font-size: 20px;
}
footer{
    margin-top: 1vh;
}
}
@media (min-width: 1024px){
.box {
    margin-left: 8.4vw;
    padding: 0;
    margin-top: 5vh;
    background:#002244;
    height: 68vh;
    border: 0px;
    font-family: sans-serif;
    background-color:  rgba(0,0,0,0.8);
    box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.8);
    width: 80vw;
    border-radius: 15px;

}
.box .card-body{
    font-size: 18.5px;
}
.bar a{
    font: 22px ROBOTO;
    margin-left: 32.8vw;
    
}
#btn {
    font-family: sans-serif;
    font-size: 20px;
    border: 1px solid black;
    background: linear-gradient(-180deg,#00AACC,#001122);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.8);
    margin-top: 3.4vh;
    border-radius: 3px;
    color: white;
    outline-style: none;
    width: 13vw;
    height: 6vh;
}
#pisblogo{
    margin-left: 38vw;
}
}
@media (min-width: 1200px){
    .box {
    
    margin-left: 13.7vw;
    padding: 0;
    margin-top: 3vh;
    background:#002244;
    height: 69vh;
    border: 0px;
    font-family: sans-serif;
    background-color:  rgba(0,0,0,0.8);
    box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.8);
    width: 70vw;
    border-radius: 15px;
}
.box .card-body{
    font-size: 16.3px;
}
.bar a{
    font: 22px ROBOTO;
    
    margin-left: 39.4vw;
}
#btn {
    font-family: sans-serif;
    font-size: 20px;
    border: 1px solid black;
    background: linear-gradient(-180deg,#00AACC,#001122);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.8);
    margin-top: 2.5vh;
    border-radius: 3px;
    color: white;
    outline-style: none;
    width: 9vw;
    height: 6vh;
}
#pisblogo{
    margin-left: 37.1vw;
    height: 40px;
    width: 115px;
}

}
@media (min-width: 1300px){
    .box {
    
    margin-left: 14.1vw;
    padding: 0;
    margin-top: 5vh;
    background:#002244;
    height: 69vh;
    border: 0px;
    font-family: sans-serif;
    background-color:  rgba(0,0,0,0.8);
    box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.8);
    width: 70vw;
    border-radius: 3px;
}
.box .card-body{
    font-size: 18px;
}
.bar a{
    font: 22px ROBOTO;
    
    margin-left: 41.2vw;
}

#btn {
    font-family: sans-serif;
    font-size: 20px;
    border: 1px solid black;
    background: linear-gradient(-180deg,#00AACC,#001122);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.8);
    margin-top: 2.7vh;
    border-radius: 3px;
    color: white;
    outline-style: none;
    width: 9.6vw;
    height: 6vh;
}
h3{
    font-size: 29px
}

#pisblogo{
    margin-left: 36.1vw;
    height: 40px;
    width: 115px;
}
 .card-footer{
    font-size: 25px;
 }


}
@media (min-width: 1400px){
    .box {
    
    margin-left: 14.1vw;
    padding: 0;
    margin-top: 5vh;
    background:#002244;
    height: 70vh;
    border: 0px;
    font-family: sans-serif;
    background-color:  rgba(0,0,0,0.8);
    box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.8);
    width: 70vw;
    border-radius: 15px;
}
.box .card-body{
    font-size: 22px;
}
.bar a{
    font: 22px ROBOTO;
    
    margin-left: 42.2vw;
}

#btn {
    font-family: sans-serif;
    font-size: 20px;
    border: 1px solid black;
    background: linear-gradient(-180deg,#00AACC,#001122);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.8);
    margin-top: 2.8vh;
    border-radius: 3px;
    color: white;
    outline-style: none;
    width: 9.7vw;
    height: 6vh;
}
h3{
    font-size: 29px
}

#pisblogo{
    margin-left: 37.1vw;
    height: 40px;
    width: 115px;
}
 .card-footer{
    font-size: 25px;
 }


}
@media (min-width: 1500px){
.bar a{
    font: 22px ROBOTO;
    
    margin-left: 42.2vw;
}
#pisblogo{
    margin-left: 37.8vw;
    height: 40px;
    width: 115px;
}

}
@media (min-width: 1700px){
    .box {
    
    margin-left: 14.2vw;
    padding: 0;
    margin-top: 5vh;
    background:#002244;
    height: 72vh;
    border: 0px;
    font-family: sans-serif;
    background-color:  rgba(0,0,0,0.8);
    box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.8);
    width: 70vw;
    border-radius: 15px;
}
.box .card-body{
    font-size: 26px;
}
.bar a{
   font: 22px ROBOTO;
    
    margin-left: 43.3vw;
}

#btn {
    font-family: sans-serif;
    font-size: 26px;
    border: 1px solid black;
    background: linear-gradient(-180deg,#00AACC,#001122);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.8);
    margin-top: 2.4vh;
    border-radius: 3px;
    color: white;
    outline-style: none;
    width: 11.1vw;
    height: 6vh;
}
#pisblogo{
    margin-left: 39.1vw;
    height: 40px;
    width: 115px;
}
h3{
    font-size: 36px
}


 .card-footer{
    font-size: 25px;
 }


}
@media (min-width: 1800px){
    .box {
    
    margin-left: 14.3vw;
    padding: 0;
    margin-top: 5vh;
    background:#002244;
    height: 72vh;
    border: 0px;
    font-family: sans-serif;
    background-color:  rgba(0,0,0,0.8);
    box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.8);
    width: 70vw;
    border-radius: 15px;
}
.box .card-body{
    font-size: 28px;
}
.bar a{
    font: 22px ROBOTO;
    
    margin-left: 44.2vw;
}

#btn {
    font-family: sans-serif;
    font-size: 27px;
    border: 1px solid black;
    background: linear-gradient(-180deg,#00AACC,#001122);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.8);
    margin-top: 2.5vh;
    border-radius: 3px;
    color: white;
    outline-style: none;
    width: 11.1vw;
    height: 6vh;
}
h3{
    font-size: 38px
}

#pisblogo{
    margin-left: 39.1vw;
    height: 40px;
    width: 115px;
}
 .card-footer{
    font-size: 25px;
 }


}
@media (min-width: 1920px){
    .box {
    
    margin-left: 14.3vw;
    padding: 0;
    margin-top: 6vh;
    background:#002244;
    height: 72vh;
    border: 0px;
    font-family: sans-serif;
    background-color:  rgba(0,0,0,0.8);
    box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.8);
    width: 70vw;
    border-radius: 15px;
}
.box .card-body{
    font-size: 30px;
}
.bar a{
    font: 22px ROBOTO;
    margin-left: 45.5vw;
}

#btn {
    font-family: sans-serif;
    font-size: 29px;
    border: 1px solid black;
    background: linear-gradient(-180deg,#00AACC,#001122);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.8);
    margin-top: 2.4vh;
    border-radius: 3px;
    color: white;
    outline-style: none;
    width: 11.1vw;
    height: 6vh;
}
#pisblogo{
    margin-left: 39.1vw;
    height: 40px;
    width: 115px;
}
h3{
    font-size: 42px
}


 .card-footer{
    font-size: 29px;
 }


}

